//buttons
.large {
  width: 190px;
  height: 60px;
}
.medium {
  width: 140px;
  height: 48px;
}
.small {
  width: 120px;
  height: 36px;
}

//inputs
.input-medium {
  width: 220px;
  height: 48px;
}
.input-small {
  width: 220px;
  height: 36px;
}