.facebook {
  background:#3162a2;
}
.twitter {
  background: #2eb1eb;
}
.dribbble {
  background:#f552b6;
}
.vimeo {
  background: #3498b9;
}
.google {
  background: #f25c58;
}

.facebook, .twitter,
.dribbble, .vimeo, .google {
  width: 36px;
  height: 36px;
}



