//colors
$main-btn-color: #65abd0;
$hover-main-btn-color: #5093b7;
$secondary-btn-color:#24aa98;
$hover-secondary-btn-color:#1a9385;
$inverse-color:#383737;
$inverse-dark-color: #262626;
$inverse-light-color:#494949;


//fonts
$ff-main-font:'Cabin';