//colors
$main-btn-color: #65abd0;
$hover-main-btn-color: #5093b7;
$secondary-btn-color:#24aa98;
$hover-secondary-btn-color:#1a9385;
$inverse-color:#383737;
$inverse-dark-color: #262626;
$inverse-light-color:#494949;


$success-main-color: #24aa98;
$success-darker-color: #1a9385;
$success-lighter-color: #1a9385;

$info-main-color: #65abd0;
$info-darker-color: #5093b7;
$info-lighter-color: #77bfe5;

$warning-main-color: #d9c26c;
$warning-darker-color: #c9b248;
$warning-lighter-color: #e8d48b;

$danger-main-color: #db7560;
$danger-darker-color: #c25842;
$danger-lighter-color: #e79f91;

$disabled-main-color: #c6ccd2;
$disabled-darker-color: #b4bbc2;
$disabled-lighter-color: #dee2e7;

$inverse-main-color: #383737;
$inverse-darker-color: #262626;
$inverse-lighter-color: #494949;

//fonts
$ff-main-font:'Cabin';