
.footer-dis-with-social-icons-btns {
  background: #f2f5f8;

  .footer-container-1-of-2 {
    width: 50%;
  }
  .footer-social-icons_list {
    display: flex;
  }
  .footer-list_container {
    display: flex;
    justify-content: center;
  }
}
