section.blog-img.blog.container
    h2.blog-h2 By the bye, Bob
    .blog-img-container
        img(src="../images/photo.jpg")
    ul.unset-list-style.img-list
        li
            img(src="../images/photo-1.jpg")
        li
            img(src="../images/photo-2.jpg")
        li
            img(src="../images/photo-3.jpg")
    hr
    .blog-container
        h4.blog-h4.h-with-img Jacob Holiday
        p.blog-text.l-text With what mingled joy  and sorrow do I take up the pen to write to my dearest friend!
                |Oh, what a change between to-day and yesterday! Now I am friendless and alone; yesterday
                |I was at home, in the sweet company of a sister, whom I shall ever, ever cherish!
    hr
    ul.unset-list-style.social-btns
        li
            a.link-btn_like(href="#") Like
        li
            a.link-btn_share(href="#") Share


    h2.blog-h2 2 Comments
    .img-text-container
        .blog-wrapper
            h4.blog-h4 Asaiah Ayrton
            span.comment-time Just now
        p.blog-text So saying he unbuckled his baldric with the bugle, took a feather from his cap, and gave them to
            |Wamba; then drew a vizard from his pouch, and, repeating his charges to them to stand fast, went to
            |execute his purposes of reconnoitring.
        img(src="../images/photo-rounded-small-1.jpg")
    hr
    .img-text-container
        .blog-wrapper
            h4.blog-h4 Isaiah Ayrton
            span.comment-time 16 august, 2016
        p.blog-text For good, too; though, in consequence of my previous emotions, I was still occasionally seized
            |with a stormy sob. After we had jogged on for some little time, I asked the carrier if he was going
            |all the way.
        img(src="../images/photo-rounded-small-2.jpg")
        hr

