section.blog-text-img-btn.blog.container
    h2.blog-h2 his sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that
        |before!' she said.
    ul.blog-list.unset-list-style
        li.blog-item William Eddington
        li.blog-item.text-success Web Design
        li.blog-item.text-disabled 16 august, 2016
    .blog-img_container
        img(src="../images/screen.jpg")
    p.blog-text So saying he unbuckled his baldric with the bugle, took a feather from his cap, and gave them to Wamba;
        |then drew a vizard from his pouch, and, repeating his charges to them to stand fast, went to execute his purposes
        |of reconnoitring...
    button.btn.rounded-border.btn-info.btn-small Read More