section.blog-text-with-btn.blog.container
    h2.blog-h2 Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the
        |fire, and chuckled heartily.
    ul.blog-list.unset-list-style
        li.blog-item Colin Marlow
        li.blog-item.text-success Inspiration
        li.blog-item.text-disabled 4 hours ago
    p.text I have related the substance of several conversations I had with my master during the greatest part of the
        |time I had the honour to be in his service; but have, indeed, for brevity sake, omitted much more than is here
        |set down. They made signs for me to come down from the rock, and go towards the shore, which I accordingly did;
        |and the flying island being raised to...
    button.btn.rounded-border.btn-info.btn-small Read More
    hr
