section.blog-text-with-list.blog.container
    h1.blog-h1 It was some time before he obtained any answer, and the reply, when made, was unpropitious.
    ul.blog-list.unset-list-style
        li.blog-item William Eddington
        li.blog-item.text-success Web Design
        li.blog-item.text-disabled 16 august, 2016
        li.blog-item.text-info 2 Comments
    h2.blog-h2 By the bye, Bob
    p.blog-text She clutched the matron by the arm, and forcing her into a chair by the bedside, was about to speak,
        |when looking round, she caught sight of the two old women bending forward in the attitude of eager listeners.
    p.blog-text They belong to the old gentleman, said Oliver, wringing his hands; "to the good, kind, old gentleman
        |who took me into his house, and had me nursed, when I was near dying of the fever . Oh, pray send them back;
        |send him back the books and money . Keep me here all my life long; but pray, pray send them back . He'll
        |think I stole them; the old lady: all of them who were so kind to me: will think I stole them. Oh, do have
        |mercy upon me, and send them back!
    .blog-container
        p.blog-text A hundred thousand grateful loves to your dear papa and
            span.text-info-without-dot  mamma
            |. Is your poor brother recovered
            |of his rack-punch? Oh, dear! Oh,
            span.text-info-without-dot  dear
            |! How men should beware of wicked punch!
    p.blog-text With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, what a change
        |between to-day and yesterday! Now I am friendless and alone; yesterday I was at home, in the sweet company of
        |a sister, whom I shall ever, ever cherish!
    .blog-list-container
        ul
            li One
            li Two
            li Three
            li Four
        ol
            li One
            li Two
            li Three
            li Four