section.form-payment.container
    form.form-payment_wrapper
        .form-container-1-of-2
            .form-payment_header
                span.form-payment_header-text PAYMENT METHOD
            .form-container_wrapper-first
                label() Credit Card
                br
                input.input-card(type="text" placeholder="6594")
                input.input-card(type="text" placeholder="6594")
                input.input-card(type="text" placeholder="6594")
                input.input-card(type="text" placeholder="6594")
            .form-payment_container
                label() Cardholder Name
                br
                input.f-contact-input(type="text")
            .form-payment_container
                .select-container
                    label() Expire
                    br
                    select.select-m.select-warning
                        option Month
                        option January
                        option February
                .select-container
                    label()
                    br
                    select.select-m.select-warning
                        option Year
                        option 2018
                        option 2017
            .form-payment_container
                label() CVV
                br
                input.input-card(type="text")
        .form-container-1-of-2
            .form-payment_header
                span.form-payment_header-text BILLING ADDRESS
            .form-container_wrapper-first
                input.success-checkbox(type="checkbox" id="ship-add")
                label.success-label-for-checkbox(for="ship-add") Same as shipping address
            p.form-payment_text A hundred thousand grateful loves to your dear papa and mamma.
                |Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!

            .total-container
                span.total-amount $496
    .form-payment_footer
        .link-container
            a.footer-link_return(href="#") Continue Shopping
                img.footer-link_img(src="../images/back-icon-blue.svg" alt="back-icon")
        button.btn.medium.rounded-border.btn-success.footer-btn-l(type="submit") Payment method
            img.footer-btn_img(src="../images/forward-icon.svg" alt="menu-img")
