section.buttons.container
    .content--wrapper
            button.btn.large.btn-info Load more
            button.btn.large.btn-info.btn-small-rounded-border Sign Up
            button.btn.large.btn-info.rounded Sign In
            button.btn.large.btn-info.btn-without-bg.rounded Logout
            button.btn.btn-round-l.large.btn-info
                img(src="../images/forward-icon.svg" alt="forward")
    .content--wrapper
            button.btn.medium.btn-info Learn more
            button.btn.medium.btn-info.btn-small-rounded-border Buy now
            button.btn.medium.btn-info.rounded Order now
            button.btn.medium.btn-info.btn-without-bg.rounded Install
            button.btn.btn-menu-m.medium.btn-info.btn-small-rounded-border
                img(src="../images/menu-icon.svg" alt="menu-img")
            button.btn.btn-round-m.medium.btn-info
                img(src="../images/back-icon.svg" alt="menu-img")
            button.btn.btn-m.btn-arrow-m.medium.btn-info Next
    .content--wrapper
            button.btn.small.btn-info Start
            button.btn.small.btn-small-rounded-border.btn-info Download
            button.btn.small.rounded.btn-info Share
            button.btn.small.rounded.btn-without-bg.btn-info Free Trial
            button.btn.btn-menu-s.small.btn-small-rounded-border.btn-info
                img(src="../images/menu-icon.svg" alt="menu-img")
            button.btn.small.btn-round-s.btn-info
                img(src="../images/forward-icon.svg" alt="menu-img")
            .btn-double
                button.btn.small.btn-rounded-border-left.btn-info
                    img(src="../images/back-icon.svg" alt="menu-img")
                button.btn.small.btn-rounded-border-right.btn-info
                    img(src="../images/forward-icon.svg" alt="menu-img")
            button.btn.small.btn-arrow-s.btn-info Forward