section.inputs.container
    .content--wrapper
        .btn-several-menu
            button.btn.btn-menu-m.medium.btn-success.btn-m-secondary.btn-rounded-border-left
                img(src="../images/align-left-icon.svg" alt="align-left-icon")
            button.btn.btn-menu-m.btn-m-secondary.medium.btn-success
                img(src="../images/align-center-icon.svg" alt="align-center-icon")
            button.btn.btn-menu-m.btn-m-secondary.btn-rounded-border-right.medium.btn-success
                img(src="../images/align-right-icon.svg" alt="align-right-icon")
        .input-with-right-success-btn
            .input-btn
            input.input-medium.input-disabled(type="text" value="Hey there!")
            button.btn.medium.btn-menu-m.btn-right-success-m.btn-success.btn-rounded-border-right.btn-right-with-input Send
        .input-with-two-success-btns
            button.btn.medium.btn-success.btn-m-secondary.btn-menu-m.btn-rounded-border-left.btn-left-with-input To seller
            input.input-medium.input-with-btns(type="text" value="Message")
            button.btn.medium.btn-success.btn-rounded-border-right.btn-right-with-input Send
        .btn-container
            button.btn.btn-success.btn-menu-m.medium.btn-small-rounded-border.btn-with-arrow Ok
                img.img-1(src="../images/open-icon.svg" alt="search-icon")


    .content--wrapper
        input.input-medium.input-disabled(type="text" value="E-mail")
        input.input-medium.input-info(type="text" value="hello")
        .input-container
            input.input-medium.rounded.input-disabled.input-with-img(type="text" value="Search")
            img.img-1(src="../images/search-icon-gray.svg" alt="search-icon")
        .input-container
            input.input-medium.rounded.input-info.input-with-img(type="text" value="UI Kit")
            img.img-1(src="../images/search-icon-black.svg" alt="search-icon")
            img.img-2(src="../images/delete-icon-gray.svg" alt="delete-icon")
        .input-container
            input.input-medium.input-success(type="text" value="hello@creativeda.sh")
            img.img-2-success(src="../images/check-icon.svg" alt="check-icon")
        .input-container
            input.input-medium.input-danger(type="text" value="hellocreativeda.sh")
            img.img-2-delete(src="../images/delete-icon.svg" alt="delete-icon")
        .input-with_disabled-btn
            input.input-medium.input-disabled.input-with-left-rounded-border(type="text" value="Search")
            .btn-wrapper-disabled
                button.btn.medium.btn-disabled.btn-rounded-border-right.btn-right-disabled
                    img(src="../images/search-icon-white.svg" alt="menu-img")
        .input-with_active-btn
            input.input-medium.input-disabled.input-with-btn-success(type="text" value="Flat")
            .btn-wrapper-success
                button.btn.btn-success.medium.btn-menu-m.btn-small-rounded-border.btn-right-success-m
                    img(src="../images/search-icon-white.svg" alt="menu-img")
    .content--wrapper
        input.input-small.input-disabled(type="text" value="E-mail")
        input.input-small.input-info(type="text" value="hello")

        .input-container
            input.input-small.rounded.input-disabled.input-with-img(type="text" value="Search")
            img.img-1(src="../images/search-icon-gray.svg" alt="search-icon")
        .input-container
            input.input-small.rounded.input-info.input-with-img(type="text" value="UI Kit")
            img.img-1(src="../images/search-icon-black.svg" alt="search-icon")
            img.img-2(src="../images/delete-icon-gray.svg" alt="delete-icon")

        .input-container
            input.input-small.input-success(type="text" value="hello@creativeda.sh")
            img.img-2-success(src="../images/check-icon.svg" alt="check-icon")
        .input-container
            input.input-small.input-danger(type="text" value="hellocreativeda.sh")
            img.img-2-delete(src="../images/delete-icon.svg" alt="delete-icon")

        .input-with_disabled-btn
            input.input-small.input-disabled.input-with-left-rounded-border(type="text" value="Search")
            .btn-wrapper-disabled
                button.btn.input-small.btn-disabled.btn-rounded-border-right.btn-right-disabled
                    img(src="../images/search-icon-white.svg" alt="menu-img")

        .input-with_active-btn
            input.input-small.input-disabled.input-with-btn-success(type="text" value="Flat")
            .btn-wrapper-success
                button.btn.btn-success.input-small.btn.btn-menu-s.btn-small-rounded-border.btn-right-success-s
                    img(src="../images/search-icon-white.svg" alt="menu-img")

