section.lists.container
    .lists-block_left
            ul.list-menu
                li.list-menu_item
                    a(href="#") Categories
                li.list-menu_item
                    a(href="#") Art Direction
                li.list-menu_item
                    a(href="#") Branding
                li.list-menu_item
                    a(href="#") Graphic Design
                li.list-menu_item
                    a(href="#") Illustration
    .lists-block_right
        table.lists-table
            thead
                td #
                td Artist
                td Album
                td Song
                td Select
            tr
                td 1
                td Kasabian
                td Velociraptor!
                td Re-wired
                td
                    .checkbox
                        input.success-checkbox(type='checkbox', name='check1' id="check1")
                        label.success-label-for-checkbox(for='check1')
            tr
                td 2
                td Suuns
                td Images Du Futur
                td Up Past The Nursery
                td
                    .checkbox
                        input.success-checkbox(type='checkbox', name='check2' id="check2")
                        label.success-label-for-checkbox(for='check2')
            tr
                td 3
                td RHCP
                td Californication
                td Around the World
                td
                    .checkbox
                        input.success-checkbox(type='checkbox', name='check3' id="check3")
                        label.success-label-for-checkbox(for='check3')
            tr
                td 4
                td Woodkid
                td The Golden Age
                td Iron
                td
                    .checkbox
                        input.success-checkbox(type='checkbox', name='check4' id="check4")
                        label.success-label-for-checkbox(for='check4')
            tr
                td 5
                td Hugo
                td Old Tyme Religion
                td 99 problems
                td
                    .checkbox
                        input.success-checkbox(type='checkbox', name='check5' id="check5")
                        label.success-label-for-checkbox(for='check5')