section.lists.container
    .lists-block_left
            ul.list-menu
                li.list-menu_item
                    a(href="#") Categories
                li.list-menu_item
                    a(href="#") Art Direction
                li.list-menu_item
                    a(href="#") Branding
                li.list-menu_item
                    a(href="#") Graphic Design
                li.list-menu_item
                    a(href="#") Illustration
    .lists-block_right
        table.lists-table
            thead
                td #
                td Artist
                td Album
                td Song
                td Select
            tr
                td 1
                td Kasabian
                td Velociraptor!
                td Re-wired
                td
                    input(type="checkbox")
            tr
                td 2
                td Suuns
                td Images Du Futur
                td Up Past The Nursery
                td
                    input(type="checkbox")
            tr
                td 3
                td RHCP
                td Californication
                td Around the World
                td
                    input(type="checkbox")
            tr
                td 4
                td Woodkid
                td The Golden Age
                td Iron
                td
                    input(type="checkbox")
            tr
                td 5
                td Hugo
                td Old Tyme Religion
                td 99 problems
                td
                    input(type="checkbox")