section.paginator.container
    .paginator-container_left
        .paginator-wrapper
            a.p-item.active-success(href='#0') 1
            a.p-item(href='#0') 2
            a.p-item(href='#0') 3
            hr.p-line_with-hover
        .paginator-wrapper-bottom
            a.p-item(href='#0') 1
            a.p-item.active-info(href='#0') 2
            a.p-item(href='#0') 3
            hr.p-line

    .paginator-container_right
        ul.pagination
            li.pagination-item
                a.pagination-number(href='#0')
                img(src="../images/back-icon-black.svg")
                span.pagination-control.pagination-control_prev Back
            li.pagination-item
                a.pagination-number(href='#0') 1
            li.pagination-item
                span.pagination-number.pagination-number_active 2
            li.pagination-item
                a.pagination-number(href='#0') 3
            li.pagination-item
                a.pagination-number(href='#0') ...
            li.pagination-item
                a.pagination-number(href='#0') 12
            li.pagination-item
                a.pagination-number.pagination-number_disabled(href='#0') 13
            li.pagination-item
                a.pagination-number(href='#0') 14
            li.pagination-item
                a.pagination-number(href='#0')
                    span.pagination-control.pagination-control_next Next
                    img(src="../images/forward-icon-black.svg")
        ul.pagination.pagination-disabled
            li.pagination-item
            a.pagination-number(href='#0')
                img(src="../images/back-icon-gray.svg")
                span.pagination-control.pagination-control_prev Back
            li.pagination-item
                a.pagination-number(href='#0') 1
            li.pagination-item
                span.pagination-number 2
            li.pagination-item
                a.pagination-number(href='#0') 3
            li.pagination-item
                a.pagination-number(href='#0') ...
            li.pagination-item
                a.pagination-number(href='#0') 12
            li.pagination-item
                a.pagination-number(href='#0') 13
            li.pagination-item
                a.pagination-number(href='#0') 14
            li.pagination-item
                a.pagination-number(href='#0')
                    span.pagination-control.pagination-control_next Next
                    img(src="../images/forward-icon-gray.svg")



