section.popovers.container
    .popover-default.rounded-border
        img.popup-img(src="../images/close-icon-black.svg" alt="delete-icon-black")
        h2.popover-header.default Popover header
        p.popover-text.default This I have produced as a scantling of Jack’s great eloquence and the force of his
            |reasoning upon such abstruse matters.
        .popover-btn-container
            button.popover-default_btn.btn.small.btn-success.rounded-border.btn-popover Cool
            button.popover-default_btn.btn.small.btn-info.rounded-border.btn-popover Not sure
    .popover-inverse.rounded-border
        img.popup-img(src="../images/close-icon-white.svg" alt="delete-icon-white")
        h2.popover-header.inverse Popover header
        p.popover-text.inverse This I have produced as a scantling of Jack’s great eloquence and the force of his
            | reasoning upon such abstruse matters.
        .popover-btn-container
            button.popover-inverse_btn.btn.small.rounded-border.btn-without-bg_success.btn-popover Cool
            button.popover-inverse_btn.btn.small.rounded-border.btn-without-bg_warning.btn-popover Not sure