section.popups.container
    .popup-success.btn-small-rounded-border
        p.popup-text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning
            |upon such abstruse matters.
        img.popup-img(src="../images/close-icon-white.svg")
    .popup-warning.btn-small-rounded-border
        p.popup-text Poor Alice! It was as much as she could do, lying down on one side, to look through into the
            |garden with one eye; but to get through was more hopeless than ever: she sat down and began to cry again.t
        img.popup-img(src="../images/close-icon-white.svg")
    .popup-danger.btn-small-rounded-border
        p.popup-text At first, for some time, I was not able to answer him one word; but as he had taken me in his
            |arms I held fast by him, or I should have fallen to the ground.
        button.btn.small.btn-small-rounded-border.btn-popup Submit
        img.popup-img(src="../images/close-icon-white.svg")