section.select-components.container
    .left-block-components
        .select-block-container
            .select-block
                .select-list.roundborders.list-cont
                    a(href="#nl") Select country
                        img.select-list_img(src="../images/open-icon.svg")
                    a(href="#us") USA
                    a(href="#cn") Canada
                    a(href="#de") Germany
            .select-block
                .select-list-open.roundborders.list-cont
                    a(href="#nl") Select country
                        img.select-list_img(src="../images/open-icon.svg")
                    a(href="#us") USA
                    a(href="#cn") Canada
                    a(href="#de") Germany

        .check-block
            .check-container
                input(type="radio" id="r-off" value="")
                label(for="r-off") Radiobutton Off
            .check-container
                input(type="radio" id="r-on" value="")
                label(for="r-on") Radiobutton On
            .check-container
                input(type="radio" id="r-dis" value="")
                label(for="r-dis") Radiobutton Disabled
            .check-container
                input(type="checkbox" id="c-off" value="")
                label.checkbox-success(for="c-off") Checkbox Off
            .check-container
                input(type="checkbox" id="c-on" value="")
                label.checkbox-success(for="c-on") Checkbox On
            .check-container
                input(type="checkbox" id="c-dis" value="")
                label.checkbox-success(for="c-dis") Checkbox Disabled

    .right-block-components
        .progress-bar-warning-container
            .progress-bar
                .bar.bar-disabled.bar-disabled_left
                .dot.dot-warning
                .bar.bar-warning
                .dot.dot-warning
                .bar.bar-disabled.bar-disabled_right
        .bottom-components-container
            .switch-container
                .switch-block
                    input(type="checkbox" id="switch1")
                    label(for="switch1") On
                .switch-block
                    input(type="checkbox" id="switch2")
                    label(for="switch2") On
                .switch-block
                    input(type="checkbox" id="switch3")
                    label(for="switch3") On
                .switch-block
                    input(type="checkbox" id="switch4")
                    label(for="switch4") On
            .progress-container
                .progress-bar
                    .bar.bar-left
                    .dot.dot-info
                    .bar.bar-right
                .status-bar
                    .status-bar-block
                        input(type="checkbox" id="status")
                        label(for="status")
                        span.status-bar_text 64%
                .tooltips-container
                    button.tooltip-with-bottom-arrow.small.btn-inverse.rounded-border Top tooltip
                    button.tooltip-with-left-arrow.small.btn-inverse.rounded-border Left tooltip
                    button.tooltip-with-right-arrow.small.btn-inverse.rounded-border Right tooltip
                    .tooltip-with-top-arrow.small.btn-inverse.rounded-border Bottom tooltip


