doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
        title edge-kit-base

    body
        include sections/base/index
        include sections/forms/index