.form-shipping {
  margin-top: 24px;
  border-radius: 5px;
  background: #f2f5f8;
  padding: 68px 35px 30px 30px;
}
.form-shipping_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}