.shopping-cart {
  margin-top: 72px;
  background: #f2f5f8;
  border-radius: 5px;

}
.shopping-cart_body{
  padding: 62px 31px 30px 30px;
}

.shopping-cart_table {
    width: 100%;
    font-family: $ff-main-font, Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;

    &:last-child {
      border-style:hidden;
    }
    & td,
    & th {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      margin: -1px;
    }
    & th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
    }

}

.plus-btn img {
  position: absolute;
  content: '';
  top:6px;
  left:6px;
}

.minus-btn img {
  position: absolute;
  content: '';
  top:10px;
  left:7px;
}
.item-info {
  display: flex;

}
* {
  box-sizing: border-box;
}

.quantity {
  display: flex;
}
.quantity input {
  width: 38px;
  height: 26px;
  border: none;
  background: none;
  text-align: center;
  margin: 0;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
