section.footer-success-large
    footer.footer.container
        h2.footer-header2 The Best App Ever
        span.footer-text Please Sign Up to Get Our App
        form.form.rounded-border
            input.input.input-disabled.input-disabled-medium(type="email" placeholder="E-mail")
            input.input.input-disabled.input-disabled-medium(type="password" placeholder="Password")
            button.btn.btn-warning.rounded-border.footer-btn-success Sign up
        nav.footer-nav
            a.footer-nav_link(href="#") Products
            a.footer-nav_link(href="#") Prices
            a.footer-nav_link(href="#") About Us
            a.footer-nav_link(href="#") Contacts
        span.copyright &copy; UI8 2017 – All Right Reserved
