section.footer-inverse-xsmall
    footer.footer-xsmall.footer-inverse.container
        .footer-container
            nav.footer-inverse-nav
                a.footer-nav_link(href="#") Recomendations
                a.footer-nav_link(href="#") My Channel
                a.footer-nav_link(href="#") Journal
                a.footer-nav_link(href="#") See Later
            nav.footer-inverse-social
                span &copy; UI8 2017 – All Right Reserved
                a.footer-container_item-first(href="#")
                    img(src="../images/facebook-logo-grey.svg")
                a.footer-container_item-first(href="#")
                    img(src="../images/twitter-logo-grey.svg")
                a.footer-container_item-first(href="#")
                    img(src="../images/linkedin-icon-grey.svg")
