section.footer-inverse-small
    footer.footer-s.footer-inverse.container
        ul.footer-social-icons_list.footer-inverse_container.unset-list-style
            li.footer-item
                a.link-text(href="#") Popular
            li.footer-item
                a.link-text(href="#") Recent
            li.footer-item
                a.link-text(href="#") Teams
            li.footer-item
                a.link-text(href="#") Debuts
            li.footer-item
                a.link-text(href="#") Playoffs
            li.footer-item
                a.link-text(href="#") Animated GIF’s
        ul.footer-social-icons_list.footer-inverse_container.unset-list-style
            li.footer-social-icons_item
                a.btn-round-s.facebook(href="#")
                    img(src="../images/facebook-logo-white.svg")
            li.footer-social-icons_item
                a.btn-round-s.twitter(href="#")
                    img(src="../images/twitter-logo-white.svg")
            li.footer-social-icons_item
                a.btn-round-s.dribbble(href="#")
                    img(src="../images/dribbble-logo-white.svg")
            li.footer-social-icons_item
                a.btn-round-s.vimeo(href="#")
                    img(src="../images/linkedin-icon-white.svg")
            li.footer-social-icons_item
                a.btn-round-s.google(href="#")
                    img(src="../images/linkedin-icon-white.svg")
        small &copy; UI8 2017 – All Right Reserved
