section.footer-inverse-large
    footer.footer.footer-inverse.container
        .footer-container
            .footer-container_left
                ul.footer-inverse_list
                    li.footer-inverse_item
                        a.list-header(href="#")
                            img(src="../images/ui8-logo.png")
                    li.footer-inverse_item
                        ul.footer-social-icons_list
                            li.footer-container_item
                                a.list-header(href="#") WOMEN
                            li.footer-container_item
                                a.list-link_dis(href="#") Coats
                            li.footer-container_item
                                a.list-link_dis(href="#") Outerwear
                            li.footer-container_item
                                a.list-link_dis(href="#") Dresses
                            li.footer-container_item
                                a.list-link_dis(href="#") Jumpsuits
                            li.footer-container_item
                                a.list-link_dis(href="#") Tops
                            li.footer-container_item
                                a.list-link_dis(href="#") Trousers
                            li.footer-container_item
                                a.list-link_dis(href="#") Jeans
                            li.footer-container_item
                                a.list-link_dis(href="#") Skirts
                            li.footer-container_item
                                a.list-link_dis(href="#") Knitwear
                            li.footer-container_item
                                a.list-link_dis(href="#") T-shirts
                            li.footer-container_item
                                a.list-link_dis(href="#") Shoes
                            li.footer-container_item
                                a.list-link_dis(href="#") Handbags
                            li.footer-container_item
                                a.list-link_dis(href="#") Accessories
                    li.footer-inverse_item
                        ul.footer-social-icons_list
                            li.footer-container_item
                                a.list-header(href="#") MEN
                            li.footer-container_item
                                a.list-link_dis(href="#") Coats
                            li.footer-container_item
                                a.list-link_dis(href="#") Jackets
                            li.footer-container_item
                                a.list-link_dis(href="#") Blazers
                            li.footer-container_item
                                a.list-link_dis(href="#") Suits
                            li.footer-container_item
                                a.list-link_dis(href="#") Trousers
                            li.footer-container_item
                                a.list-link_dis(href="#") Jeans
                            li.footer-container_item
                                a.list-link_dis(href="#") Shirts
                            li.footer-container_item
                                a.list-link_dis(href="#") T-shirts
                            li.footer-container_item
                                a.list-link_dis(href="#") Sweatshirts
                            li.footer-container_item
                                a.list-link_dis(href="#") Knitwear
                            li.footer-container_item
                                a.list-link_dis(href="#") Shoes
                            li.footer-container_item
                                a.list-link_dis(href="#") Bags
                            li.footer-container_item
                                a.list-link_dis(href="#") Accessories
                            li.footer-container_item
                                a.list-link_dis(href="#") Soft Wear
                            li.footer-container_item
                                a.list-link_dis(href="#") Special Price
                    li.footer-inverse_item
                        ul.footer-social-icons_list
                            li.footer-container_item
                                a.list-header(href="#") KIDS
                            li.footer-container_item
                                a.list-link_dis(href="#") Girl
                            li.footer-container_item
                                a.list-link_dis(href="#") Boy
                            li.footer-container_item
                                a.list-link_dis(href="#") Baby girl
                            li.footer-container_item
                                a.list-link_dis(href="#") Baby boy
                            li.footer-container_item
                                a.list-link_dis(href="#") MINI
            .footer-container_right
                .follow-us-container
                    span FOLLOW US
                    ul.footer-social-icons_list.footer-inverse_container
                        li.footer-social-icons_item
                            a.btn-rounded-s.facebook(href="#")
                                img(src="../images/facebook-logo-white.svg")
                        li.footer-social-icons_item
                            a.btn-rounded-s.twitter(href="#")
                                img(src="../images/twitter-logo-white.svg")
                        li.footer-social-icons_item
                            a.btn-rounded-s.dribbble(href="#")
                                img(src="../images/dribbble-logo-white.svg")
                        li.footer-social-icons_item
                            a.btn-rounded-s.vimeo(href="#")
                                img(src="../images/linkedin-icon-white.svg")
                        li.footer-social-icons_item
                            a.btn-rounded-s.google(href="#")
                                img(src="../images/linkedin-icon-white.svg")
                .subscribing-container
                    span SUBSCRIBING
                    p We will never send you spam or some other trash
                    .input-with_active-btn
                        input.input-small.input-without-bg.input-with-btn-success(type="email" placeholder="hello@creativedas.sh")
                        .btn-wrapper-success
                            button.btn.btn-success.input-small.btn.btn-menu-s.rounded-border.btn-right-success-s
                                img(src="../images/nex-icon.svg" alt="menu-img")
                ul.footer-social-icons_list
                    li.footer-container_item
                        a.list-header(href="#") MENU
                    li.footer-container_item
                        a.list-link_dis(href="#") Company
                    li.footer-container_item
                        a.list-link_dis(href="#") Our Team
                    li.footer-container_item
                        a.list-link_dis(href="#") Testimonials
                    li.footer-container_item
                        a.list-link_dis(href="#") Contacts
                small &copy; UI8 2017 – All Right Reserved