section.footer-dis-with-logo-left-and-btn-success
    footer.footer.footer-dis.container
        .footer-container-1-of-1
            .footer-container_logo
                a(href="#")
                    img(src="../images/ui8-logo.png")
            .footer-container_contacts
                ul.footer-container_list
                    li.footer-container_item
                        a.footer-container_item-first(href="#") Contacts
                    li.footer-container_item
                        a(href="#") 920 Reserve Dr. Suite 140 Roseville, CA 95678
                    li.footer-container_item
                        a(href="#") (415) 496-9612
                    li.footer-container_item
                        a(href="#") info@creativeda.sh
            .footer-container_info
                ul.footer-container_list
                    li.footer-container_item
                        a.footer-container_item-first(href="#") Info
                    li.footer-container_item
                        p.footer-container_item-text Looking cautiously round, to ascertain that they were not
                            |overheard, the two hags cowered nearer to the fire, and chuckled heartily.
            .footer-container_app
                ul.footer-container_list
                    li.footer-container_item Our app
                    li.footer-container_item
                        button.btn.btn-success.rounded-border.footer-btn-success Buy app
                    li.footer-container_item
                        a(href="#") or Learn More

