section.footer-with-header
    footer.footer.footer-dis.footer-h
        .footer-header
            span.footer-header_text Subscribe our newsletters
            .footer-input_container
                input.footer-input(type="email" placeholder="Your e-mail here")
                img(src="../images/e-mail-icon-warning.svg")
            button.btn.btn-warning.rounded-border.footer-btn-warning Subscribe
        .footer-body.container
            .footer-logo_container
                a(href="#")
                    img(src="../images/ui8-logo.png")
            ul.footer-container_list
                li.footer-container_item
                    a.footer-container_item-first(href="#") Services
                li.footer-container_item
                    a(href="#") Branding
                li.footer-container_item
                    a(href="#") UX Design
                li.footer-container_item
                    a(href="#") Prototype
                li.footer-container_item
                    a(href="#") UI Design
                li.footer-container_item
                    a(href="#") Development
            .footer-map
                img(src="../images/map.jpg")
            ul.footer-container_list
                li.footer-container_item.footer-container_item-first UI8 © 2016–2017
                li.footer-container_item (415) 496-9612 920 Reserve Dr. Suite 140 Roseville, CA 95678
                li.footer-container_item
                    button.btn.btn-info.rounded-border.btn-form-s Email Us
