section.footer-dis-with-logo-right
    footer.footer.footer-dis.container
        .footer-container-1-of-1
            ul.footer-container_list.unset-list-style
                li.footer-container_item
                    a.footer-container_item-first(href="#") Joseph Wood
                li.footer-container_item
                    a(href="#") Timeline
                li.footer-container_item
                    a(href="#") Messages
                li.footer-container_item
                    a(href="#") Statistic
                li.footer-container_item
                    a(href="#") Settings
                li.footer-container_item
                    a(href="#") Logout
            ul.footer-container_list.unset-list-style
                li.footer-container_item
                    a.footer-container_item-first(href="#") Services
                li.footer-container_item
                    a(href="#") Branding
                li.footer-container_item
                    a(href="#") UX Design
                li.footer-container_item
                    a(href="#") Prototype
                li.footer-container_item
                    a(href="#") UI Design
                li.footer-container_item
                    a(href="#") Development
            ul.footer-container_list.unset-list-style
                li.footer-container_item
                    a.footer-container_item-first(href="#") About Us
                li.footer-container_item
                    a(href="#") Company
                li.footer-container_item
                    a(href="#") Our Team
                li.footer-container_item
                    a(href="#") Testimonials
                li.footer-container_item
                    a(href="#") Contacts
            ul.footer-logo-with-text-container.unset-list-style
                li.footer-container_item
                    a(href="#")
                        img(src="../images/ui8-logo.png")
                li.footer-container_item
                    a(href="#") UI8 © 2016–2017
                li.footer-container_item
                    a(href="#") Terms and Conditions
                li.footer-container_item
                    a(href="#") Privacy Policy
