section.footer-inverse-m
    footer.footer.footer-inverse.container
        .footer-container
            ul.footer-inverse_list.unset-list-style
                li.footer-inverse_item
                    a.list-header(href="#")
                        img(src="../images/ui8-logo.png")
                li.footer-inverse_item
                    ul.footer-social-icons_list.unset-list-style
                        li.footer-container_item
                            a.list-header(href="#") Joseph Wood
                        li.footer-container_item
                            a.list-link_dis(href="#") Timeline
                        li.footer-container_item
                            a.list-link_dis(href="#") Messages
                        li.footer-container_item
                            a.list-link_dis(href="#") Statistic
                        li.footer-container_item
                            a.list-link_dis(href="#") Settings
                        li.footer-container_item
                            a.list-link_dis(href="#") Logout
                li.footer-inverse_item
                    ul.footer-social-icons_list.unset-list-style
                        li.footer-container_item
                            a.list-header(href="#") Services
                        li.footer-container_item
                            a.list-link_dis(href="#") Branding
                        li.footer-container_item
                            a.list-link_dis(href="#") UX Design
                        li.footer-container_item
                            a.list-link_dis(href="#") Prototype
                        li.footer-container_item
                            a.list-link_dis(href="#") UI Design
                        li.footer-container_item
                            a.list-link_dis(href="#") Development
                li.footer-inverse_item
                    ul.footer-social-icons_list.unset-list-style
                        li.footer-container_item
                            a.list-header(href="#") About Us
                        li.footer-container_item
                            a.list-link_dis(href="#") Company
                        li.footer-container_item
                            a.list-link_dis(href="#") Our Team
                        li.footer-container_item
                            a.list-link_dis(href="#") Contacts
                        li.footer-container_item
                            a.list-link_dis(href="#") Terms and Conditions
                        li.footer-container_item
                            a.list-link_dis(href="#") Privacy Policy
            .subscribing-container
                span Subscribing
                .input-with_active-btn
                    input.input-small.input-without-bg.input-with-btn-success(type="email" placeholder="hello@creativedas.sh")
                    .btn-wrapper-success
                        button.btn.btn-success.input-small.btn.btn-menu-s.rounded-border.btn-right-success-s
                            img(src="../images/nex-icon.svg" alt="menu-img")
                span Follow Us
                nav.footer-inverse-social
                    a.footer-container_item-first(href="#")
                        img(src="../images/facebook-logo_gray.svg")
                    a.footer-container_item-first(href="#")
                        img(src="../images/twitter-logo_gray.svg")
                    a.footer-container_item-first(href="#")
                        img(src="../images/dribbble-logo_gray.svg")
                    a.footer-container_item-first(href="#")
                        img(src="../images/vimeo-icon_gray.svg")
                    a.footer-container_item-first(href="#")
                        img(src="../images/google--gray.svg")