section.footer-dis-small
    footer.footer.footer-dis.container
        .footer-container
            nav.footer-nav
                a.footer-nav_link(href="#")
                    img(src="../images/ui8-logo.png")
                a.footer-nav_link(href="#") Products
                a.footer-nav_link(href="#") Prices
                a.footer-nav_link(href="#") About Us
                a.footer-nav_link(href="#") Contacts
                a.footer-nav_link(href="#")
                    img(src="../images/facebook-logo-black.svg")
                a.footer-nav_link(href="#")
                    img(src="../images/twitter-logo-black.svg")
                a.footer-nav_link(href="#")
                    img(src="../images/google--black.svg")
            .footer-address_container
                span.footer-address-header Roseville, CA
                p.footer-address-text 920 Reserve Dr. Suite 140 (415) 496-9612
