sections.footer-dis-with-social-icons-btns
    footer.footer.footer-dis.container
        .footer-container
            .footer-container-1-of-2
                h3.footer-header_h3 Design assets to speed up your workflow
                p.footer-text Looking cautiously round, to ascertain that they were not overheard, the two hags
                    |cowered nearer to the fire, and chuckled heartily.
                ul.footer-social-icons_list.unset-list-style
                    li.footer-social-icons_item
                        a(href="#")
                            img(src="../images/facebook-logo-white.svg")
                            span 136
                    li.footer-social-icons_item
                        a(href="#")
                            img(src="../images/twitter-logo-white.svg")
                            span 68
                    li.footer-social-icons_item
                        a(href="#")
                            img(src="../images/dribbble-logo-white.svg")
                            span 16
                    li.footer-social-icons_item
                        a(href="#")
                            img(src="../images/linkedin-icon-white.svg")
                            span 13
                .footer-link_container
                    a(href="#") Terms and Conditions
                    a(href="#") Privacy Policy
            .footer-container-1-of-2
                .footer-list_container
                    ul.footer-container_list.unset-list-style
                        li.footer-container_item
                            a.footer-container_item-first(href="#") Services
                        li.footer-container_item
                            a(href="#") Branding
                        li.footer-container_item
                            a(href="#") UX Design
                        li.footer-container_item
                            a(href="#") Prototype
                        li.footer-container_item
                            a(href="#") UI Design
                        li.footer-container_item
                            a(href="#") Development
                    ul.footer-container_list.unset-list-style
                        li.footer-container_item
                            a.footer-container_item-first(href="#") About Us
                        li.footer-container_item
                            a(href="#") Company
                        li.footer-container_item
                            a(href="#") Our Team
                        li.footer-container_item
                            a(href="#") Testimonials
                        li.footer-container_item
                            a(href="#") Contacts